#page-give-classes #container{
    width: 100vw;
    height: 100vh;
}

#page-give-classes .page-header .header-content{
    margin-bottom: 6.4rem;
}

#page-give-classes main{
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
}

#page-give-classes fieldset{
    border: none;
    padding: 0 2.4rem;
}

#page-give-classes fieldset legend{
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

#page-give-classes fieldset legend button{
    background: none;
    border: 0;
    color: var(--color-primary);
    font: 700 1.6rem Archivo;
    cursor: pointer;
    transition: 0.2s;
}

#page-give-classes fieldset legend button:hover{
    /* transform: translateY(); essa propriedade faz com q o elemento que esteja recebendo ele tenha alguma animação, nesse caso, o botão vai subir um pouco assim q passar o mouse encima dele */
    color: var(--color-primary-dark);
}

#page-give-classes fieldset+fieldset{
    margin-top: 6.4rem;
}

#page-give-classes main fieldset .input-block+.input-block,
#page-give-classes main fieldset .input-block+.textarea-block,
#page-give-classes main fieldset .select-block+.input-block{ /*esse .input-block+.input-block vai pegar o .input-block que tenha um .input-block anterior a ele*/
    margin-top: 2.4rem;
}

#page-give-classes main footer{
    padding: 4rem 2.4rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 6.4rem;
}

#page-give-classes main footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);
}

#page-give-classes main footer p img{
    margin-right: 2rem;
}

#page-give-classes main footer button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
    margin-top: 3.2rem;
}

#page-give-classes main footer button:hover{
    background: var(--color-secundary-dark);
}

.schedule-item+.schedule-item{
    margin-top: 3.2rem;
    padding-top: 3.2rem;
    border-top: 1px solid var(--color-line-in-white);
}

#page-give-classes main .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    right: 0;
    bottom: 0;
    z-index: 20;
  }

  #page-give-classes main .open-button::before {
    content: '⏚';
  }

 /* #page-study .box {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  } */

  #page-give-classes main .btn-cancel {
    background-color: red;
    color: white;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    height: 32px;
    margin-left: 349px;
    border-radius: 28px;
  }

  #page-give-classes main .box{
    /* width: 490px;
    height: 800px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 20px #000;
    top: 58%;
    left: 80%;
    transform: translate(-50%, -50%);
    border-radius: 29px;
    display: none;
    position: fixed;
    bottom: -310px;
    right: -156px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.top{
    width: 100%;
    height: 80px;
    background: #6842C2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.top h1{
    margin: 0;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 22px;
    font-family: sans-serif;
    margin-top: -30px;
}
#page-give-classes main #mid{
    width: 100%;
    height: 47em;
    /* background: rgb(174, 0, 255); */
    overflow-y: scroll;
    overflow-x: hidden;
}
#mid #chat{
    width: 100%;
}
#mid #chat h2{
    margin: 0;
    font-size: 30px;
    color: #000;
    padding:30px 20px;
    text-align: center;
}
#mid #chat p{
    margin: 10;
    height: 30px;
    font-size: 20px;
    color: red;
    text-align: left;
    margin-left: -6px;
    /* background-color: rgb(255, 252, 167); */
    /* background-color: yellow; */
    font-weight: 600;
    /* letter-spacing: 0.04em; */
    margin-bottom: 8px !important;
}
#mid #chat #teste {
    text-align: right;
    margin-top: 80px;
    margin-right: 60px;
}
.input{
    height: 57%;
    width: 620px;
    overflow: hidden;
    padding-left: 0px;
    border-radius: 20px;
    border-bottom-left-radius: 20px;
}
.input input{
    width: 66%;
    height: 62px;
    outline: none;
    border: none;
    padding-left: 20px;
    padding-top: 0;
    font-family: monospace;
    font-size: 20px;
    background: #9871F5;
    margin-top: 0em !important;
    border-radius: 18px;
    background-color: #9871F5;
}
.txt-align {
    text-align: right !important;
}
.mrg-top {
    margin-top: 75px !important;
}
.mrg-right {
    margin-right: 62px;
}
.clr-blue {
    color: blue !important;
}
.bot-text {
    margin: 10;
    height: 30px;
    font-size: 16px;
    color: red;
    text-align: left;
    margin-left: 13px;
    /* background-color: rgb(255, 252, 167); */
    /* background-color: yellow; */
    font-weight: 600;
    /* letter-spacing: 0.04em; */
    margin-top: 23px;
}

@media(min-width: 700px){
    #page-give-classes #container{
        max-width: 100vw;
    }

    #page-give-classes .page-header .header-content{
        margin-bottom: 0;
    }

    #page-give-classes main fieldset {
        padding: 0 64px;
    }

    .schedule-item{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
    }

    #page-give-classes #schedule-items .select-block+.input-block,
    #page-give-classes #schedule-items .input-block+.input-block{
        margin-top: 0;
    }

    #page-give-classes main footer{
        padding: 40px 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-give-classes main footer button{
        margin-top: 0;
        width: 200px;
    }

    #page-give-classes main .box {
        left: 123em;
        right: 160px;
    }
}

@media(min-height: 720px) {
    #page-give-classes main .box {
        left: 59em;
        right: 160px;
        top: 23em;
        bottom: -22em;
    }

    .input input {
        margin-top: 296px;
    }
}

@media(min-height: 900px) {
    #page-give-classes main .box {
        left: 90em;
        right: 43em;
        top: 29em;
        bottom: -27em;
    }

    .input input {
        margin-top: 445px;
    }

    #page-give-classes .open-chatbot-btn {
        margin-left: 54em !important;
        margin-top: -9em !important;
    }
}

